html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: grey;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 60px calc(100% - 60px);
}

#navbar {
  width: 100%;
}

#dashboard {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background-color: ghostwhite;
  display: grid;
  grid-template-rows: 40% 60%;
}

#player {
  background-color: red;
}

#controls {
  display: grid;
  grid-template-rows: 300px calc(100% - 300px);
  grid-column-gap: 15px;
}

#queue {
  display: grid;
  grid-template-rows: calc(100% - 220px) 220px;
  background-color: lightblue;
}

.trackContainer {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  display: inline-block;
}

.track {
  background-color: green;
  display: inline;
}

#infobar {
  background-color: teal;
}

#turntable {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: orange;
}


#addtrack {
  background-color: lightpink;
}

